html[data-bs-theme="dark"] {
    & .modal-title {
        color: $yellow-800;
    }
    & .modal-desc {
        color: $yellow-900;
    }
    & .modal-header {
        background-color: $yellow-100;
    }
    & .places__btn {
        @include button-variant($yellow-200, $yellow-300, $yellow-900);
    }

}
.modal-title {
    color: $cyan-800;
}

.modal-desc {
    margin-top: 20px;
    color: $cyan-900;
}

.modal-header {
    background-color: $cyan-100;
}

.places__btn {
    @include button-variant($cyan-200, $cyan-300, $cyan-900);
    @include button-size(5px, 5px, 20px, 10px);
    width: fit-content;
}