html[data-bs-theme="dark"] {
    & .modal-title {
        color: $yellow-800;
    }
    & .modal-desc {
        color: $yellow-900;
    }
    & .modal-header {
        background-color: $yellow-100;
    }
    & .places__btn {
        @include button-variant($yellow-200, $yellow-300, $yellow-900);
    }

}
.modal-title {
    color: $cyan-800;
}

.modal-desc {
    margin-top: 20px;
    color: $cyan-900;
}

.modal-header {
    background-color: $cyan-100;
}

.places__btn {
    @include button-variant($cyan-700, $cyan-700, $cyan-100);
    @include button-size(3px, 10px, 1.7vw, 0.25rem);
    width: fit-content;
}