.profile {
  margin-top: 56px;
}

.login {
  margin-top: 56px;
  --border-radius: 10px;
  --width: 600px;
  &__body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 85vh;
  }
  &__form {
    width: var(--width);
    border-radius: var(--border-radius);
    background-color: $gray-200;
    color: $colorBlack;
  }
}