.profile {
  display: flex;
  flex-direction: column;
  margin-top: 56px;
  padding-top: 20px;
  gap: 50px;

  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__personal {
    display: flex;
    align-items: center;
  }

  &__avatar {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    margin-right: 50px;
  }

  &__body {
    display: flex;
    flex-direction: column;
  }

  &__country {
    display: flex;
    flex-direction: column;
    max-width: 33vw;
    gap: 20px;
  }

  &__progress {
    margin-bottom: 40px;
  }

  &__wrapper-quiz {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 2;
    display: none;
    
    &_active {
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}

.country-list {
  &__item {
    display: flex;
    align-items: center;
  }

  &__name {
    margin-bottom: 0;
  }

  &__percent {
    font-size: 20px;
  }

  &__quiz {
    margin-right: 7px;
    max-width: 100px;
  }

  &__visit {
    max-width: 100px;
  }
}

.photo {
  width: 20vw;
  height: 20vw;
  overflow: hidden;
  border-radius: 50%;
  border: 1px solid $cyan-400;

  &__img {
    object-fit: contain;
    width: 100%;
    height: 100%;
  }
}

.change-img {
  width: 10vw;
  height: 10vw;
  overflow: hidden;
  border-radius: 50%;
  border: 1px solid $cyan-400;

  &__photo {
    object-fit: contain;
    width: 100%;
    height: 100%;
  }
}

.change-avatar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 2;
  display: none;

  &__list {
    display: flex;
    justify-content: space-between;
  }

  &__block {
    width: 70vw;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }

  &_active {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.btn-confirm,
.btn-cancel {
  min-width: 120px;
}

@media (max-width: 1220px) {
  .profile__country {
    max-width: 50vw;
  }
}

@media (max-width: 800px) {
  .profile__country {
    max-width: 70vw;
  }
}

@media (max-width: 575px) {
  .profile__country {
    max-width: 90vw;
  }

  .photo {
    width: 30vw;
    height: 30vw;
  }
}

@media (max-width: 400px) {
  .profile__avatar {
    margin-right: 20px;
  }
}