[data-bs-theme="dark"] {
  h4 {
    color: $yellow-100;
  }
  .btn-info {
    --bs-btn-bg: #{mix($gray-600, $yellow-400, .5)};
    --bs-btn-border-color: #{rgba($white, .25)};
    --bs-btn-hover-bg: #{darken(mix($gray-600, $yellow-400, .5), 5%)};
    --bs-btn-hover-border-color: #{rgba($white, .25)};
    --bs-btn-active-bg: #{darken(mix($gray-600, $yellow-400, .5), 10%)};
    --bs-btn-active-border-color: #{rgba($white, .5)};
    --bs-btn-focus-border-color: #{rgba($white, .5)};
    --bs-btn-focus-box-shadow: 0 0 0 .25rem rgba(255, 255, 255, .2);
  }
  .accordion {
    --bs-accordion-color: #{$colorBlack};
    --bs-accordion-bg: #{$yellow-100};
    --bs-accordion-border-color: #{$yellow-600};
    --bs-accordion-color: #{$colorBlack};
    --bs-accordion-btn-color: #{$colorBlack};
    --bs-accordion-btn-bg: #{$yellow-300};
    --bs-accordion-btn-active-bg: #{$yellow-700};
    --bs-accordion-btn-active-color: #{$colorWhite};
    --bs-accordion-btn-focus-border-color: #{$colorWhite};
    --bs-accordion-btn-focus-box-shadow: #{$colorWhite};
    --bs-accordion-icon-active-color: #{$colorWhite};
    --bs-accordion-icon-color: #{$colorBlack};
    --bs-accordion-icon-active-color: #{$yellow-600};
    --bs-accordion-active-bg: #{$yellow-300};
    --bs-accordion-active-color: #{$colorBlack};
    --bs-accordion-btn-active-icon: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='#{$yellow-600}'><path fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/></svg>");//couldnt fix color here
  }
  .navbar  {
    --bs-navbar-color: #{$colorBlack75};
    --bs-navbar-hover-color: #{$colorBlack};
    --bs-navbar-active-color: #{$colorBlack};
    --bs-navbar-toggler-icon-bg: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'><path stroke='#{$colorBlack75}' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/></svg>");
    --bs-navbar-toggler-border-color: #{$colorBlack75};
    --bs-navbar-brand-color: #{$colorBlack};
    --bs-navbar-brand-hover-color: #{$yellow-100};
    --bs-navbar-toggler-focus-width: none;
  }

  //   //color forms
  //   $form-check-input-checked-bg-color: $cyan-700;
  // }
  // I couldnt find this form into our pages
}