.registration {
  margin-top: 56px;
  --border-radius: 10px;
  --width: 600px;
  --height: 500px;
  --transition: all 0.3s;
  &__body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 85vh;
  }
  &__form, 
  &__logout{
    width: var(--width);
    border-radius: var(--border-radius);
    background-color: $gray-200;
    color: $colorBlack;
  }
}

.form {
  padding: 30px;
  &__title {
    text-align: center;
  }
  &__input {
    border: 1px solid $cyan-600;
  }
  &__buttons {
    margin: 30px 0px 10px 0px;
    display: flex;
    justify-content: center;
    gap: 20px;
    text-align: center;
  }
  &__button {
    color:  $cyan-100;
    min-width: 150px;
    background-color: $cyan-700;
    padding: 7px 10px;
    border-radius: 5px;
    transition: var(--transition);
    &:hover{
      background-color: $cyan-800;
      color: $cyan-200; 
    }
  }
  &__github {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    text-decoration: none;
    color: inherit;
    &-text {
      margin-right: 10px;
      width: 150px;
      min-height: 30px;
      background: url(../assets/icons/github_logo_black.svg) center right /22px 22px no-repeat;
      transition: var(--transition);
      &:hover{
        background: url(../assets/icons/github_logo_cyan700.svg) center right /22px 22px no-repeat;
        color: $cyan-700;
      }
    }
  }
}

.logout {
  padding: 30px;
  text-align: center;
}

.welcome {
  height: var(--height);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  background-color: $cyan-900;
  border-radius: var(--border-radius);
  &__text {
    padding:  10px 0px;
    font-size: 1.2rem;
  }
}