.main_home-page {
  min-height: auto;
}
canvas.home-page
{
  position: absolute;
  top: 56px;
  left: 0;
  outline: none;
  margin: 0;
  padding: 0;
}
.home-page__container {
  top: 56px;
  position: absolute;

}
.form-select {
  cursor: pointer;
}

.country-buttons_container,
.theme_container,
.select_container {
  padding-top: 1.5rem;
}