.header {
  position: fixed; 
  z-index: 5;
  width: 100vw;

  &__logo {
    font-family: 'Kalam', cursive;
  }
}

.navbar {
  background-color: $cyan-700;
}

.offcanvas-header {
  padding-left: 36px;
  background-color: $cyan-700;
}

.offcanvas-body {
  padding-left: 36px;
  background-color: $cyan-700;
  overflow-y: visible;
}

.navbar-brand {
  margin-right: 50px;
}
html[data-bs-theme="dark"] {
  .navbar {
    background-color: $yellow-700;
  }
  .offcanvas-header {
    background-color: $yellow-700;
  }
  
  .offcanvas-body {
    background-color: $yellow-700;
    overflow-y: visible;
  }
}